/*.nav*/
@media all and (min-width: 992px) {
  .navbar li.navbar_items a:hover {

    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius:45px; 
    padding: 10px 10px;
}
}
@media all and (max-width: 992px) {
	.navbar .nav-item:hover .nav-link{ background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);border-radius:5px;padding: 10px 10px;   }
}

.navbar{
	padding: 10px 0;
}
.navbar-brand{
	font-weight: 600;
	font-size: 2em;
}

.nav-item{
  	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.2em;
  }
.mr-1 {
  margin-left: ($spacer * .45) !important;
}
.btn-outline-secondary:hover{
background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.bg-dark{
	color: black;
}
.btn-outline-secondary {
	background-color: black;
	color:white;

}
.navbar-toggler{
	color:black;
}
#signup:hover{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
#login:hover{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

 #login{
 padding: 10px 20px;
 border-radius: 10px;
 background: #000;
 color: white;
 text-decoration: none;
 letter-spacing: 1px;


}
#signup{
 padding: 10px 20px;
 border-radius: 10px;
 background: #000;
 color: #fff;
 text-decoration: none;
 letter-spacing: 1px;

}
@media all and (max-width: 992px){
	#signup{
		background-color: transparent;
		color: black;
		margin-left: -22px;
	}
	#login{
		background-color: transparent;
		color: black;
		margin-left:-22px;
	}
}

@media all and (max-width: 992px) {
	.navbar-brand{
		left:-10px;

	}
}

/*.nav*/
.title-section{
		width: 60%;
		text-align: center;
        margin-top:20px; 
        padding: 1.0rem;
        text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
        letter-spacing: 1px;
        font-size: 45px;
        font-weight: 800px;
        /*background-image: linear-gradient(43deg, #4158D0 0%,#FFCC70 5%, #647dee 46%,#fff 50%);*/
        background-image: linear-gradient(43deg, #7f53ac 0%, #647dee 74%,#fff 50%);
}
/*.about-img{
	left:50px;
}
.boxT{
    position: relative;
    width: 300px;
    height: 400px;
    background: #000;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
     margin: 0 0 40px 0;
     border-radius: 20px;

}

.boxT .imgboxT{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.boxT .imgboxT img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.boxT:hover .imgboxT img{
    opacity: 0;
}

.boxT .content{
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background-color: #00DBDE;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    /*background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);*/
/*    transition: 0.5s;
    overflow: hidden;
    border-radius: 20px;

}

.boxT:hover .content{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.boxT .content h3{
    font-size: 24px;
}

.boxT:hover .content h3{
    display: none;
}

.intro{
    padding: 0.1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxT .content .hover-card{
    opacity: 0;
    transition: 0.5s;
}

.boxT:hover .content .hover-card{
    opacity: 1;
    transition-delay: 0.5s;
}

.profile h2{
    margin-top: 30px;
    color: #000;
}

.profile h2, h4{
    text-align: center;
}

.profile p{
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    margin-top: 50px;
}

.socialT{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.socialT i{
    font-size: 22px;
}*/
/*profile crd*/
.profile-card{
            overflow: hidden;
            margin-bottom:10px;
            box-shadow:0px 2px 3px #222;
            top:150px;
        }
        .profile-card:hover .profile-img img
        {
            transform: scale(1.2);
            filter:blur(5px);
        }
        .profile-card .profile-img img{
            width:100%;
            height:auto;
            transition: transform 1s;
        }
        .profile-card .profile-content::before{
            content: "";
            position:absolute;
            top:0;
            left: 10px;
            width:50%;
            height:40%;
            border:3px solid #333;
            border-right:3px solid transparent;
            border-bottom:3px solid transparent;
            transform: scale(1,1);
            transition: all 0.50s linear;
        }
        .profile-card .profile-content::after{
            content: "";
            position:absolute;
            bottom:7px;
            right:12px;
            width:50%;
            height:40%;
            border:3px solid #222;
            border-left:3px solid transparent;
            border-top:3px solid transparent;
            transition: all 0.50s linear;
            
        }
        .profile-card:hover .profile-content:before{
            top:20px;
            left:20px;
        }
        .profile-card:hover .profile-content:after{
            bottom:20px;
            right:20px;
        }
       
        .profile-card .profile-content{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            padding:50% 4%;
            text-align: center;
           
        }
        .profile-card .profile-content .title{
            font-size:24px;
            color:#333;
            opacity:0;
            letter-spacing:2px;
            text-transform:uppercase;
            transform: translateY(-100px);
            transition:all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
        }
        .profile-card:hover .title{
            opacity:1;
            transform: translateY(0);
        }
        .profile-card:hover .title::after{
            content:"";
            display:block;
            width:50%;
            margin:10px auto;
            border-bottom:2px solid #222;
        }
        .profile-card .profile-content .title > span{
            display:block;
            margin:5px 0;
            font-size: 14px;
            text-transform: capitalize;
        }
        .profile-card .profile-content .social-link{
            margin:20px 0;
            padding:0;
            opacity:0;
            transform: translateY(100px);
            transition:all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
        }
        .profile-card:hover .social-link{
            opacity:1;
            transform: translateY(0);
        }
        .profile-card .profile-content .social-link li{
            display: inline-block;
            list-style: none;
            margin:0 4px;
        }
        .profile-card .profile-content .social-link li a{
            color:#333;
            width:30px;
            height:25px;
            line-height:24px;
            text-align: center;
            border-radius:5px;
            background-color: #fff;
        }
.title{
		width: 60%;
		text-align: center;
        margin-top:20px; 
        padding: 1.0rem;
        text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
        letter-spacing: 1px;
        font-size: 45px;
        font-weight: 800px;
        /*background-image: linear-gradient(43deg, #4158D0 0%,#FFCC70 5%, #647dee 46%,#fff 50%);*/
        background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

        
}
/*end profile*/


/*contact form*/

/*submit-button*/

.btn-3,
.btn-3::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-3 {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  color: #262626;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  padding-right: 4em;
  width: 30px;
  height: 60px;
  position: relative;
  text-transform: uppercase;
}

.btn-3::before,
.btn-3::after {
   background-color: #FFE53B;
   background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-3:hover {
  color: black;
}
.btn-3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}


